* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.todo-container {
    background: white;
    width: 400px;

    padding: 30px;
    border-radius: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#addTask {
    background: #222;
    color: white;
}

ul {
    list-style: none;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    margin-bottom: 10px;

    background: #f1f1f1;
    border-radius: 6px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.delete {
    background: #ff4d4d;
    color: white;
}